<div class="container mt-3">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Password</th>
        <th>Category</th>
        <th>Phone</th>
        <th>Date of birth</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><span>{{contact.id}}</span></td>
        <td><span>{{contact.name}}</span></td>
        <td><span>{{contact.email}}</span></td>
        <td><span>{{contact.password}}</span></td>
        <td><span>{{contact.category}}</span></td>
        <td><span>{{contact.phone}}</span></td>
        <td><span>{{contact.dateOfBirth}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>